.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-input {
  margin-bottom: 40px;
  color: white;
}

.App-btn {
  width: 100px;
  cursor: pointer;
  margin-bottom: 40px;
}

.App-link {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
